{% extends "base.html.twig" %}
{% block title %} - Création d'une annonce{% endblock %}

{# {% form_theme form _self %} #}

{% block body %}
    <div class="container">
        <h1> Créer une nouvelle annonce </h1>
        {{ form_start(form) }}
        {{ form_row(form.titre,
            { 'attr': { 'placeholder': 'Titre de l\'annonce'}}) }}
        {{ form_row (form.introduction,
            { 'attr': { 'placeholder': 'Présentation de l\'annonce'}}) }}

        {{ form_row (form.description,
            { 'attr': { 'placeholder': 'Déscription de l\'annonce'}}) }}

        {{ form_row (form.chambres,
            { 'attr': {'placeholder': 'Nombre de chambres'}}) }}

        {{ form_row (form.prix,
            { 'attr': {'placeholder': 'Prix des chambres'}}) }}

        {{ form_row (form.imageCouverture,
            { 'attr': {'placeholder': 'Image de l\'annonce'}}) }} 
        
        <br>
        <button class="submit btn-primary"> Créer </button>
        
        {{ form_end(form, {'render_rest': false})}}
    </div>

{% endblock %} 

{% block form_row %}
    <div class="form-group">
        {{ form_label (form)}}
        {{ form_widget (form)}}
    </div>
{% endblock %}

{% block text_widget %}
    <div class="form-group">
        <input type="text" name="{{full_name}}"
            id="{{ id }}" class="form-control">
        {# <input type="textarea" name="{{full_name}}"
            id="{{ id }}" class="form-control">
        <input type="number" name="{{full_name}}"
            id="{{ id }}" class="form-control"> #}
    </div>
{% endblock %}