{% extends "base.html.twig" %}
{% block title %} - Création d'une annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1> Créer une nouvelle annonce </h1>
        {{ form_start(form) }}
        {{ form_row(form)}}
        
        <br>
        <button class="submit btn-primary"> Créer </button>
        
        {{ form_end(form, {'render_rest': false})}}
    </div>

{% endblock %} 

{% block form_row %}
    <div class="form-group">
        {{ form_label (form)}}
        {{ form_widget (form)}}
    </div>
{% endblock %}

{% block text_widget %}
    <div class="form-group">
        <input type="text" name="{{full_name}}"
            id="{{ id }}" class="form-control">
        <input type="textarea" name="{{full_name}}"
            id="{{ id }}" class="form-control">
        <input type="number" name="{{full_name}}"
            id="{{ id }}" class="form-control">
    </div>
{% endblock %}